.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

allmodels.RData
data/hb_bedrock
data/Terrestrial Ecoregions of the World
data/elevation
data/landcover
data/hbef_vege
data/knb-lter-hbr.97.2
data/USAelevation*